html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}





.new-checkbox {
    margin-left: 35%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.radioclass {
    margin-left: 35%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.card-header {
    margin-left: 2px
}

/*@import url('//netdna.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap-theme.min.css');

.body {
    margin: 3px;
}*/