@model Vivastreet.Models.ViewModel.HomeVM

<div class="container">
    <div class="text-center">
        <button class="btn btn-danger filter-button" data-filter="all">All</button>
        @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-success filter-button" data-filter="@obj.Name.Replace(' ', '_')">
                @obj.Name
            </button>
        }
         
    </div>
    <br/>
    <div class="row">
        @foreach (var item in Model.Advertisements)
        {
            <partial name="_IndividualAdvertCard" model="item"/>
            //display all product
        }
    </div>
</div>
  